{% extends 'blog/base.html' %}
{% block content %}
 <h3 class="border-bottom"> عنّي</h3>
<div class="text-center">
 <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
                      <div class="LI-profile-badge" data-version="v1" data-size="small" data-locale="en_US" data-type="vertical"
                        data-theme="light" data-vanity="adelaltuwaijri"><a class="LI-simple-link"
                          href='https://sa.linkedin.com/in/adelaltuwaijri?trk=profile-badge'>Adel Altuwaijri</a></div>
                        </div>
{% endblock content %}