{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

 
   
    <div class="border p-3 mb-2 mb-5">
        <legend class="border-bottom pb-1 mb-3">التسجيل</legend>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
    
            <input class="btn btn-secondary mt-2  mt-4" type="submit" value="تسجيل" >
        </form>
   
   <div class="border-top mt-4 pt-2"> 
       <small> اذا كان لديك حساب يمكنك <a href="{% url 'login' %}"> تسجيل الدخول </a></small>
    </div>
</div>
{% endblock content %}
